*{box-sizing:border-box}
.logo img{width:100%}
.logo{width:73px;float:left}
.header{float:left;width:310px;list-style:none;margin-top:30px;padding-left:19px}
ul.header li{float:left;margin:0 18px}
ul.header li a{color:#d0d0d0;text-decoration:none}
body{font-family:'Nunito',sans-serif;margin:0}
ul.header li a.active{color:#fff;font-weight:700}
.content{width:100%;float:left;overflow:hidden;background: #1d2533;}
.header-cont{float:left;width:100%;position:fixed;background:transparent;padding-top:21px}
.inner-cont{max-width:1154px;margin:auto;width:90%}
.btn{width:auto;padding:15px 38px;font-size:16px;border-radius:50px;text-decoration:none}
.header-opo{float:right;padding-top:22px}
.account{float:left;text-align:center;color:#fff;font-size:13px;width:100px;line-height:24px;margin-right:30px;margin-left:30px}
.header-cont .account .btn{background:transparent;border:1px solid #fff;width:130px;padding:6px 23px}
.header-cont .btn{padding:10px 23px;color:#61cbb2;font-size:13px;float:left;margin-left:0;background:#fff}
.lang-switcher{float:left;margin-left:21px;position:relative}
.flag{width:35px;margin-top:1px}
.flag img{width:100%}
footer{float:left;width:100%;padding-top:27px;background: #222b3a}
footer .logo{width:63px;position:relative}
ul.footer-links{float:right;list-style:none;padding:0;margin-top:13px}
ul.footer-links a{color:#fff;text-decoration:none;letter-spacing:1px;font-size:13px}
ul.footer-links li{float:left;width:auto;padding:0 21px}
.logo-slogan{width:100px;display:inline-block;font-size:8px;position:absolute;top:100%;right:-70px;color:#e1e1e1}
.is-sticky.active .header-cont{    background: #343e4c;
    box-shadow: 7px 3px 11px #121821;}
.is-sticky.active .header-cont ul a{color:#b1b1b1;}
header .logo a:last-of-type img{display:none}
.active .logo a:first-of-type img{display:none}
.active .logo a:last-of-type img{display:block!important}
.is-sticky.active ul.header li a.active{color:#fff;position: relative;}
.active .account{color:#fff;position: relative;}
.active .header-cont .btn{background:#61cbb2;color:#fff;border-color:#61cbb2}
.lang-switcher .popup{opacity:0;background:#fff;width:140px;height:50px;border-radius:5px;text-align:center;padding-top:14px;position:absolute;top:60px;right:-53px;transition:all .5s ease}
.lang-switcher .popup:before{bottom:100%;left:50%;border:solid transparent;content:" ";height:0;width:0;position:absolute;pointer-events:none;border-color:rgba(194,225,245,0);border-bottom-color:#fff;border-width:12px;margin-left:-10px}
.lang-switcher:hover .popup{opacity:1}
.is-sticky.active ul.header li a.active:before,ul.header li a.active:before {
    content: "";
    height: 4px;
    width: 100%;
    position: absolute;
    top: -51px;
    background: -moz-linear-gradient(21deg,#2bd0b1 0,#0196a4 100%);
    background: -webkit-gradient(linear,left top,right top,color-stop(0,#2bd0b1),color-stop(100%,#0196a4));
    background: -webkit-linear-gradient(21deg,#2bd0b1,#0196a4);
    background: -o-linear-gradient(21deg,#2bd0b1 0,#0196a4 100%);
    background: -ms-linear-gradient(21deg,#2bd0b1 0,#0196a4 100%);
    background: linear-gradient(69deg,#2bd0b1,#0196a4);
}
.mobile{display:none}
.arabic body{direction:rtl}
.arabic .logo,.arabic .header,.arabic ul.header li,.arabic .content,.arabic .header-cont,.arabic .account,.arabic .lang-switcher,.arabic footer,.arabic ul.footer-links li{float:right}
.arabic .header{padding-right:19px;padding-left:auto}
.arabic .header-cont .btn{margin-right:0;margin-left:auto;float:right}
.arabic .header-opo,.arabic ul.footer-links,arabic .logo-slogan,.arabic .lang-switcher .popup{float:left}
.arabic .lang-switcher{margin-right:21px;margin-left:auto}
.arabic-flag,.arabic .english-flag{display:none}

.english-flag,.arabic .arabic-flag{display:block}
.arabic .arabic-flag{display:block}
.arabic-flag{width:31px;height:31px;border-radius:50%}
.arabic-flag img{width:100%;height:100%;border-radius:50%;border:2px solid #fff}
.arabic .lang-switcher .popup{float:right}
@media screen and (max-width: 768px) {
.mobile{display:block}
.is-sticky.active ul.header li a.active{color:#fff}
ul.header{padding-left:0;margin-bottom:0}
ul.header li{width:100%;height:40px}
.account{display:none}
.header-cont .btn{display:none}
.lang-switcher{width:100%}
.header-opo{width:100%;padding-top:0}
.flag{display:none!important}
.lang-switcher .popup{display:block;position:unset;color:#fff;opacity:1;background:transparent;text-align:left;padding-top:0}
.lang-switcher .popup:before{display:none}
.burger{width:50px;float:right;padding-right:20px}
.burger img{width:100%}
.logo{width:70px;margin-top:0}
.w{width:70px;padding-left:40px;float:left}
.w img{width:100%}
.close-nav{float:right;color:#fff;padding-right:30px;font-size:29px;line-height:22px;font-family:sans-serif;font-weight:lighter}
.nav-head{display:none;width:100%;float:left;height:30px;background:#474e59;height:66px;padding-top:20px;padding-bottom:20px}
.header,.header-opo{display:none}
header.nav-opened .header-cont,header.nav-opened .header-cont,header.nav-opened.is-sticky.active .header-cont{width:100%;float:left;height:600px;background:url(./assets/images/mobileNavBg.png);background-size:cover;background-position:0}
header.nav-opened .header,header.nav-opened .header-opo,header.nav-opened .nav-head{display:block}
header.nav-opened .burger,header.nav-opened .logo{display:none}
.nav-opened .header-cont{padding-top:0}
.burger img:last-of-type,.is-sticky.active .header-cont .burger img:first-of-type{display:none}
.is-sticky.active .header-cont .burger img:last-of-type{display:block;margin-top:5px}
.arabic ul.header{padding-left:auto;padding-right:0}
.arabic .lang-switcher .popup{text-align:right}
.arabic .w{padding-left:auto;padding-right:40px;float:right}
.arabic .nav-head{float:right}
.arabic header.nav-opened .header-cont,.arabic header.nav-opened .header-cont,.arabic header.nav-opened.is-sticky.active .header-cont{float:right}
.arabic .burger{float:left;padding-left:20px;padding-right:0}
.arabic .close-nav{float:left;padding-left:30px;padding-right:auto}
}