#pricing .main-section{background:url(./assets/images/bg.png);background-size:cover;float:left;width:100%;color:#fff;text-align:center;padding-top:135px;position:relative;max-height:1010px;z-index:9}
.pricing-header .header-cont .btn{background:transparent;border:1px solid #fff;color:#fff}
.main-section .title{font-size:54px;font-weight:400;width:710px;max-width:90%;line-height:69px;margin:14px auto}
.main-section .desc{font-size:25px;letter-spacing:1px;margin-top:99px}
.nav-tabs li a{float:left;width:50%;background:#363f4d;color:#fff;height:40px;line-height:40px;font-size:14px}
.nav-tabs{list-style:none;width:260px;margin:auto;margin-top:102px;padding-left:0}
.nav-tabs li a.active{color:#fff;background:-moz-linear-gradient(21deg,#2bd0b1 0,#0196a4 100%);background:-webkit-gradient(linear,left top,right top,color-stop(0,#2bd0b1),color-stop(100%,#0196a4));background:-webkit-linear-gradient(21deg,#2bd0b1,#0196a4);background:-o-linear-gradient(21deg,#2bd0b1 0,#0196a4 100%);background:-ms-linear-gradient(21deg,#2bd0b1 0,#0196a4 100%);background:linear-gradient(69deg,#2bd0b1,#0196a4)}
.nav-tabs li:first-of-type a{border-top-left-radius:50px;border-bottom-left-radius:50px}
.nav-tabs li:last-of-type a{border-top-right-radius:50px;border-bottom-right-radius:50px}
.tab-content{width:100%;float:left;margin-top:80px;position:relative;z-index:2}
.subscription{width:calc(100% / 3 - 27px);float:left;color:#fff;margin:20px 40px;border-radius:0;overflow:hidden;background:#373f4d;padding-bottom:70px;border-bottom-right-radius:10px;border-bottom-left-radius:10px;box-shadow:0 11px 74px -21px hsla(0,0%,5%,.75)}
.sub-types{width:80%;margin:auto}
.subscription .head:after{content:'';border-radius:0 0 50% 50% / 0 0 18px 18px;width:110%;left:-5%;background:#3e4955;height:35px;display:block;position:absolute;bottom:-35px;z-index:9}
.subscription.prof .head{background:-moz-linear-gradient(21deg,#2bd0b1 0,#ffc568 100%);background:-webkit-gradient(linear,left top,right top,color-stop(0,#ffc568),color-stop(100%,#ff8767));background:-webkit-linear-gradient(21deg,#ffc568,#ff8767);background:-o-linear-gradient(21deg,#ffc568 0,#ff8767 100%);background:-ms-linear-gradient(21deg,#ffc568 0,#ff8767 100%);background:linear-gradient(69deg,#ffc568,#ff8767);color:#fff}
#pricing .main-section:after{content:"";height:6px;width:100%;position:absolute;bottom:0;background:-moz-linear-gradient(21deg,#2bd0b1 0,#0196a4 100%);background:-webkit-gradient(linear,left top,right top,color-stop(0,#87207f),color-stop(100%,#fb9230));background:-webkit-linear-gradient(21deg,#87207f,#fb9230);background:-o-linear-gradient(21deg,#87207f 0,#fb9230 100%);background:-ms-linear-gradient(21deg,#87207f 0,#fb9230 100%);background:linear-gradient(69deg,#87207f,#fb9230);left:0;z-index:1}
.subscription.prof .head:after{background:-moz-linear-gradient(21deg,#ffc568 10%,#ff8767 110%);background:-webkit-gradient(linear,left top,right top,color-stop(10%,#ffc568),color-stop(110%,#ff8767));background:-webkit-linear-gradient(21deg,#ffc568 10%,#ff8767 110%);background:-o-linear-gradient(21deg,r#ffc568 10%,#ff8767 110%);background:-ms-linear-gradient(21deg,#ffc568 10%,#ff8767 110%);background:linear-gradient(69deg,#ffc568 10%,#ff8767 110%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#2bd0b1',endColorstr='#0196a4',GradientType=1)}
.subscription .head{background:#3e4955;position:relative;padding-top:0;color:#fff;padding-top:20px;padding-bottom:10px}
.subscription .title{font-size:20px;padding-top:10px;margin-bottom:0;margin-top:0}
.subscription .price{font-size:49px;margin-bottom:2px}
.subscription .per{font-size:14px}
.subscription ul{list-style:none;float:left;padding-left:49px;position:relative;padding-bottom:40px;margin-bottom:-24px}
.subscription ul li:before{content:"L";font-family:arial;-ms-transform:scaleX(-1) rotate(-35deg);-webkit-transform:scaleX(-1) rotate(-35deg);transform:scaleX(-1) rotate(-35deg);display:inline-block;width:20px;height:20px;background:#3e4955;color:#fff;border-radius:50%;font-size:13px;text-align:center;line-height:20px;position:absolute;left:0;top:3px}
.subscription ul li{float:left;text-align:left;font-size:14px;padding-left:41px;position:relative;margin-bottom:13px;padding-right:40px;line-height:25px}
.subscription .details{padding-top:65px;float:left;width:100%;padding-bottom:24px;margin-bottom:65px;background:#363f4d}
.subscription .button{float:left;width:100%}
.subscription:first-of-type{margin-left:0;margin-right:0}
.subscription:last-of-type{margin-right:0;margin-left:0}
.subscription:first-of-type,.subscription:last-of-type{margin-top:57px}
.subscription .btn{height:50px;width:150px;border:1px solid #525c68;border-radius:5px;color:#fff;padding:14px 28px;font-size:14px}
.subscription.prof .btn{color:#fff;background:-moz-linear-gradient(21deg,rgba(43,208,177,1) 0%,rgba(1,150,164,1) 100%);background:-webkit-gradient(linear,left top,right top,color-stop(0%,rgba(43,208,177,1)),color-stop(100%,rgba(1,150,164,1)));background:-webkit-linear-gradient(21deg,rgba(43,208,177,1) 0%,rgba(1,150,164,1) 100%);background:-o-linear-gradient(21deg,rgba(43,208,177,1) 0%,rgba(1,150,164,1) 100%);background:-ms-linear-gradient(21deg,rgba(43,208,177,1) 0%,rgba(1,150,164,1) 100%);background:linear-gradient(69deg,rgba(43,208,177,1) -2%,rgba(1,150,164,1) 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#2bd0b1',endColorstr='#0196a4',GradientType=1);border:0}
.subscription ul:after{content:"";height:1px;width:calc(80% + 25px);background:#3f4956;display:block;bottom:0;position:absolute;left:calc(10% - 12px)}
div#pricing{min-height:1300px}
.grey-cont{background:#1e2532;width:100%;height:390px;float:left;margin-top:0;position:relative}
.bundles{background:url(./assets/images/bg.png);background-size:cover;float:left;padding-top:70px;padding-bottom:70px;border-radius:0 0 50% 50%/0 0 75px 75px;width:120%;left:-10%;position:relative;bottom:-45px;z-index:9;box-shadow:20px 15px 38px -10px rgba(0,0,0,.6);background-position:150px 90%}
.bundles-cont .item{float:left;width:calc(100% / 7)}
.bundles .img-cont{width:50px;margin:auto;margin-bottom:0}
.bundles .img-cont img{width:100%}
.bundles-cont{width:90%;margin:auto;margin-top:114px}
.bundles .title{width:80%;margin:auto;text-align:center;line-height:33px;font-size:19px;color:#fff;margin-top:21px}
.faq{float:left;width:100%;background:#1e2533;padding-top:113px;padding-bottom:70px}
.faq .section-title{width:50%;float:left;padding-right:120px;text-align:left;line-height:59px}
.questions{width:50%;float:left;margin-top:30px}
.react-sanfona-item-title{font-size:13px;font-weight:400;color:#fff;background:#363e4c;padding:19px 50px;border-radius:10px;padding-right:20px}
.react-sanfona-item-title:after{font-size:16px;float:right;width:12px;height:12px;content:"";border-left:1px solid;border-bottom:1px solid;transform:rotate(-135deg);margin-right:30px}
.faq .answer{font-size:13px;background:#363e4c;padding:33px 50px;line-height:26px;letter-spacing:1px;font-weight:lighter;float:left;width:100%;color:#fff;border-bottom-right-radius:10px;border-bottom-left-radius:10px;box-shadow:inset 0 11px 74px -21px rgba(12,12,12,0.75)}
.react-sanfona-item.react-sanfona-item-expanded{box-shadow:0 1px 7px 3px #21262f}
.react-sanfona-item{margin-bottom:29px;float:left;border-radius:10px;width:100%}
.react-sanfona-item-expanded .react-sanfona-item-title{background:#353e4c;border-bottom-right-radius:0;border-bottom-left-radius:0}
.react-sanfona-item-expanded .react-sanfona-item-title:after{margin-top:-6px;transform:rotate(-46deg)}
.arabic #pricing .main-section{float:right}
.arabic .nav-tabs li a{float:right}
.arabic .nav-tabs{padding-right:0;padding-left:auto}
.arabic .nav-tabs li:first-of-type a{border-top-left-radius:0;border-bottom-left-radius:0;border-top-right-radius:50px;border-bottom-right-radius:50px}
.arabic .tab-content{float:right}
.arabic .subscription{float:right}
.arabic .subscription .head:after{right:-5%;left:auto}
.arabic .subscription ul{float:right;padding-right:49px;padding-left:auto}
.arabic .subscription ul li{float:right;text-align:right;padding-right:41px;padding-left:40px}
.arabic .subscription .details{float:right}
.arabic .subscription .button{float:right}
.arabic .subscription:first-of-type{margin-right:0;margin-left:auto}
.arabic .subscription ul li:before{right:0;left:auto}
.arabic .subscription ul:after{right:calc(10% - 12px);left:auto}
.arabic .grey-cont{float:right;height: 1810px;}
.arabic .grey-cont:after{right:-10%;left:auto}
.arabic .bundles{float:right;left:auto;right:-10%}
.arabic .bundles-cont .item{float:right}
.arabic .faq{float:right}
.arabic .faq .section-title{float:right;padding-left:120px;text-align:right;padding-right:auto}
.arabic .questions{float:right}
.arabic .faq .answer{float:right;border-bottom-right-radius:10px;border-bottom-left-radius:10px}
.arabic .react-sanfona-item{float:right}
.arabic .subscription:last-of-type{margin-left:0;margin-right:auto}
.arabic .nav-tabs li:last-of-type a{border-top-right-radius:0;border-bottom-right-radius:0;border-top-left-radius:50px;border-bottom-left-radius:50px}
.arabic .react-sanfona-item-title{padding-left:20px;padding-right:auto}
.arabic .react-sanfona-item-title:after,.arabic .react-sanfona-item-expanded .react-sanfona-item-title:after{float:left}
.arabic .react-sanfona-item-title:after{transform:rotate(45deg)}
.arabic .react-sanfona-item-expanded .react-sanfona-item-title:after{transform:rotate(-46deg)}
@media screen and (max-width: 1024px) {
.sub-types{width:90%}
}
@media screen and (max-width: 768px) {
.subscription:first-of-type .head,.subscription:last-of-type .head{background:#fff}
.subscription:first-of-type .head:after,.subscription:last-of-type .head:after{background:#fff;border-bottom:5px solid #fafafa}
#pricing .main-section{max-height:555px}
.subscription{width:100%;flex-shrink:0;max-width:100%;margin:20px auto!important;border-radius: 0}
.sub-types{width:100%}
.subscription.prof{order:-1}
.main-section .title{font-size:24px;line-height:40px}
#pricing .main-section{padding-top:80px}
.main-section .desc{font-size:16px;margin-top:30px}
.nav-tabs{margin-top:50px}
.grey-cont{height:1730px}
.grey-cont:after{display:none}
.bundles{padding-top:20px;background-position:center}
.bundles-cont .item{width:50%;margin-top:10px;margin-bottom:10px}
.bundles-cont .item:last-of-type{width:100%}
.bundles:after{border-radius:0 0 50% 50% / 0 0 45px 45px}
.faq .section-title{width:100%;padding:0!important;text-align:center!important;line-height:40px}
.questions{width:100%}
.react-sanfona-item-title{padding:20px}
.faq .answer{padding:20px}
.faq{padding-top:90px;padding-bottom:30px}
.react-sanfona-item-title:after{margin-right:0}
.react-sanfona-item-expanded .react-sanfona-item-title:after{margin-top:0;transform:rotate(-46deg)}
.subscription:first-of-type .head:after,.subscription:last-of-type .head:after{background:#3e4955;border-bottom:5px solid #3e4955}
.subscription:first-of-type .head,.subscription:last-of-type .head{background:#3e4955;padding-top:20px;padding-bottom:10px}
#pricing h2.section-title{width:80%;margin-left:auto;margin-right:auto;float:none}
.bundles-cont{margin-top:50px}
#pricing .main-section:after{bottom:190px}
.faq .inner-cont{width:100%!important}
.react-sanfona-item-title{border-radius: 0}
}