.main-banner {
    background: url('./assets/images/banner.png');
    color: #fff;
    padding-top: 100px;
    min-height: 754px;
    background-size: cover
}
h2.section-title {
    text-align: center;
    font-size: 36px;
    color: #1d2534;
    margin-bottom: 6px;
}


.what .col {
    width: calc(100% / 4 - 40px);
    float: left;
    margin: 0 20px;
    text-align: center;
    padding-bottom: 29px
}


.desc {
    text-align: center;
}

.what .col {
    width: calc(100% / 4 - 35px);
    float: left;
    margin: 0 23px;
    text-align: center;
    background: #fff;
    border-radius: 5px;
}

.what {
    background: #fafafa;
    float: left;
    width: 100%;
    padding-top: 121px;
    padding-bottom: 240px;
}


.slogan {
    width: 450px;
    font-size: 48px;
    font-weight: bold;
    margin-top: 186px;
    line-height: 72px;
}

.main-banner p {
    font-size: 23px;
    margin-top: 4px;
}


.banner-actions {
    margin-top: 54px;
}

.banner-actions button:first-of-type {
    width: 189px;
    margin-right: 25px;
}

.banner-actions button {
    border: 1px solid white;
}

.banner-actions button:last-of-type {
    background: transparent;
    color: #fff;
}
.what .icon img {
    width: 100%;
}

.what .desc {
    margin-bottom: 90px;
    font-size: 18px;
}

.what .col:first-of-type {
    margin-left: 0;
}

.what .col:last-of-type {
    margin-right: 0;
}

.what .head {
    margin-bottom: 26px;
}

.what .title {
    font-weight: bold;
    letter-spacing: 1px;
    color: #1d2432;
    margin-bottom: 12px;
}

.what .details {
    width: 80%;
    margin: auto;
    color: #2a313d;
    font-weight: lighter;
    line-height: 24px;
    font-size: 14px;
    letter-spacing: 1px;
}


.home-section.img-first {
    position: relative;
    float: left;
    width: 100%;
}

.img-first .img-cont {
    position: absolute;
    top: 0;
    left: 0;
}

.img-first .details-cont {
    float: right;
    padding-top: 186px;
    width: 39%;
    line-height: 45px;
}

.home-section.img-last {
    position: relative;
    float: right;
    width: 100%;
}

.img-last .img-cont {
    position: absolute;
    top: 0;
    right: 0;
}

.img-last .details-cont {
    float: left;
    padding-top: 186px;
    width: 39%;
    line-height: 45px;
}


.home-section .title {
    font-size: 34px;
    color: #1d232f;
    letter-spacing: 2px;
}

.home-section .desc {
    margin-top: 22px;
    text-align: left;
    font-size: 14px;
    letter-spacing: 1px;
    color: #666666;
    width: 75%;
    line-height: 31px;
}
