.main-banner{background:url(./assets/images/pattern.png);color:#fff;padding-top:100px;min-height:850px;background-size:cover}
h2.section-title{text-align:center;font-size:36px;color:#1d2534;margin-bottom:6px}
.what .col{width:calc(100% / 4 - 40px);float:left;margin:0 20px;text-align:center;padding-bottom:29px}
.desc{text-align:center}
.what .col{width:calc(100% / 4 - 35px);float:left;margin:0 23px;text-align:center;background:#fff;border-radius:5px}
.what{background:#fafafa;float:left;padding-top:121px;padding-bottom:170px;border-radius:0 0 50% 50% / 0 0 75px 75px;width:120%;left:-10%;position:relative}
.slogan{width:450px;font-size:48px;font-weight:700;margin-top:186px;line-height:72px}
.main-banner p{font-size:23px;margin-top:4px}
.banner-actions{margin-top:73px}
.banner-actions .btn:first-of-type{width:189px;margin-right:25px;color:#1e242f;background:#fff;padding-right:63px}
.banner-actions .btn{border:1px solid #fff;text-transform:uppercase;position:relative}
.banner-actions .btn:last-of-type{background:transparent;color:#fff;padding-left:60px}
.banner-actions .btn:last-of-type:before{border-color:transparent transparent transparent #fff;content:" ";position:absolute;left:43px;border-width:11px;border-style:solid;top:50%;margin-top:-8px;border-top-width:7px;border-bottom-width:7px}
.banner-actions .btn:first-of-type:after{content:"\2192";font-size:25px;position:absolute;top:9px;right:36px}
.what .icon img{width:100%}
.what .desc{margin-bottom:90px;font-size:18px}
.what .col:first-of-type{margin-left:0}
.what .col:last-of-type{margin-right:0}
.what .head{margin-bottom:26px}
.what .title{font-weight:700;letter-spacing:1px;color:#1d2432;margin-bottom:12px}
.what .details{width:80%;margin:auto;color:#2a313d;font-weight:lighter;line-height:24px;font-size:14px;letter-spacing:1px}
.home-section.img-first{position:relative;float:left;width:100%;border-radius:0 0 50% 50% / 0 0 75px 75px;width:120%;left:-10%}
.home-section.img-first:after{content:'';border-radius:0 0 50% 50% / 0 0 75px 75px;width:120%;left:-10%;background:#fff;height:75px;display:block;position:absolute;bottom:-75px;z-index:9}
.home-section{padding-top:68px;padding-bottom:202px}
.img-first .img-cont{position:absolute;top:64px;left:8%;max-width:50%}
.img-first .details-cont{float:right;padding-top:186px;width:39%;line-height:45px}
.sec3.img-first .details-cont{padding-top:140px}
.sec4.img-last .details-cont{padding-top:185px}
.home-section.img-last{position:relative;float:left;background:#fafafa;border-radius:0 0 50% 50% / 0 0 75px 75px;width:120%;left:-10%;padding-bottom:260px}
.img-last .img-cont{position:absolute;top:110px;right:8%;max-width:50%}
.img-last .details-cont{float:left;padding-top:252px;width:39%;line-height:45px}
.home-section .title{font-size:34px;color:#1d232f;letter-spacing:2px}
.home-section .desc{margin-top:22px;text-align:left;font-size:14px;letter-spacing:1px;color:#666;width:75%;line-height:31px}
.sec4 .img-cont{top:156px}
.sec4.home-section.img-last{padding-bottom:400px}
.sec5 .details-cont{padding-top:152px}
.strip{position:absolute;right:8%;bottom:-2px;width:293px}
.img-last .strip{left:8%;bottom:160px;width:370px}
.strip img{width:100%}
.sec2 .img-cont{top:180px}
.sec3 .strip{width:420px;bottom:43px}
.sec4 .strip{bottom:168px;width:310px}
.closing{background:url(./assets/images/closing.png);color:#fff;background-size:cover;float:left;width:100%;padding-top:190px;text-align:center;padding-bottom:150px}
.sec5.home-section.img-first{padding-bottom:157px}
.closing .title{font-size:34px;margin-bottom:15px}
.closing .desc{font-size:16px;letter-spacing:1px;margin-bottom:73px}
.closing .btn{color:#27a689;padding:20px 39px;box-shadow:4px 2px 30px 7px rgba(136,136,136,0.43);background:#fff}
.home-section .img-cont img{width:100%}
.banner-img{position:absolute;max-width:800px;top:110px;right:71px}
.banner-img img{width:100%}



.arabic .what .col,.arabic .what .col{float: right;}
.arabic .what{float:right;right:-10%;left:auto}
.arabic .banner-actions .btn:last-of-type{padding-left:auto;padding-right:60px}
.arabic .what .col:first-of-type{margin-right:0;margin-left: auto}
.arabic .home-section.img-first{float:right;right:-10%;left:auto}
.arabic .home-section.img-first:after{right:-10%;left:auto}
.arabic .img-first .img-cont{right:8%;left:auto}
.arabic .home-section.img-last{float:right;right:-10%;left:auto}
.arabic .img-last .details-cont{float:right}
.arabic .home-section .desc{text-align:right}
.arabic .img-last .strip{right:8%;left:auto}
.arabic .closing{float:right}

.arabic .banner-actions .btn:first-of-type{margin-left:25px;margin-right:auto;padding-left:63px;padding-right: auto}
.arabic .banner-actions .btn:first-of-type:after{left:36px;right:auto ;   transform: rotate(-180deg);}
.arabic .what .col:last-of-type{margin-left:0;margin-right: auto}
.arabic .img-first .details-cont{float:left}
.arabic .img-last .img-cont{left:8%;right:auto}
.arabic .strip{left:8%;right:auto}
.arabic .banner-img{left:71px;right:auto;-moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";}

@media screen and (max-width: 1024px) {
.inner-cont{width:80%}
.banner-img{max-width:391px;top:276px}
}
@media screen and (max-width: 768px) {
.banner-img{top:440px;right:50%;margin-right:-150px;max-width:300px}
.banner-actions .btn:first-of-type:after{right:56px}
.banner-actions .btn:last-of-type:before{left:57px}
.main-banner{min-height:737px}
.slogan{max-width:100%;font-size:30px;text-align:center;line-height:40px;margin:auto;margin-top:10px}
.banner-actions .btn{float:left;margin-bottom:20px;text-align:center;width:100%!important}
.what .col{width:70%;margin-left:15%!important;margin-right:0;margin-bottom:50px}
.main-banner p{font-size:17px;text-align:center;margin-bottom:30px}
.banner-actions{margin:auto;width:260px}
h2.section-title{font-size:24px}
.what{padding-top:30px;padding-bottom:40px;border-radius:0 0 50% 50% / 0 0 45px 45px}
.what .desc{margin-bottom:40px;font-size:16px;color:#9B9B9B}
.strip{display:none}
.home-section.img-first:after{border-radius:0 0 50% 50% / 0 0 45px 45px;height:45px;bottom:-45px}
.home-section.img-last{border-radius:0 0 50% 50% / 0 0 45px 45px;padding-bottom:180px!important}
.home-section .inner-cont{display:flex;float:left;width:100%}
.home-section .inner-cont .img-cont{left:0;width:80%;right:auto;top:auto;bottom:0;max-width:440px}
.home-section .inner-cont .details-cont{order:1;width:70%;position:relative;padding-top:0;margin-bottom:190px;flex-shrink:0;left:15%}
.home-section.img-last .img-cont{right:0;left:auto;bottom:50px}
.home-section .title{font-size:24px;line-height:30px}
.home-section .desc{font-size:16px;line-height:22px;width:100%}
.home-section.img-first{padding-top:30px}
.closing{padding-top:90px;padding-bottom:90px}
.closing .title{font-size:24px;width:90%;margin:auto;margin-bottom:15px}
.closing .desc{font-size:14px}
footer .logo{margin:auto;float:none}
ul.footer-links li{width:100%!important;text-align:center;margin:10px 0}



.arabic .banner-actions .btn:last-of-type:before{right:57px;left:auto}
.arabic .banner-actions .btn{float:right}
.arabic .what .col{margin-right:15%!important;margin-left:auto!important}
.arabic .home-section .inner-cont{float:right}
.arabic .home-section .inner-cont .img-cont{right:0;left:auto}
.arabic .home-section .inner-cont .details-cont{right:15%;left:auto}
.arabic .home-section.img-last .img-cont{left:0;right:auto}

.arabic .banner-img{left:50%;right:auto;margin-left:-150px;margin-right: auto}
.arabic .banner-actions .btn:first-of-type:after{left:56px;right:auto}
}
